.center {
    text-align: center;
    
  }
  ul {
      list-style: none;
      padding: 0;
  }
  img {
      display: inline;
      width: 200px;
      height: 100px;
  }
  #footer {
      width: 100%;
      border-top: solid 2px black;
      background-color: white;
      position: fixed;
      bottom: 0;
  }

  body {
    background-color: darkgray;
    
  }
html {
    box-sizing: border-box;
}
#input-parent {
    width : 160px;
    margin: 0 auto 0 auto;
    
}
#submit {
    border-radius: 50%;
    width: 70%;
    height: 100px ;
    background: #09c6ba;
    position: relative;
    left:150px;
    bottom: 100px;
}
#player-input {
    border-radius: 50%;
    width: 200%;
    height: 300px;
    font-size: 100px;
    border-color: rgb(101, 101, 105);
    position: relative;
    right: 80px;
}
#reset-btn {
    background: aqua;
}
#hint-btn {
    background: yellowgreen;
}
li {
    display: inline-block;
    font-size: 60px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
    width: 120px;
    margin: -10px 20px 10px 0px;
    background-color: white;
    box-shadow: 4px 6px gray;
}
#app {
    padding-top: 100px;
    
}
body {
    background-image: url("background1.jpg")
}
#headers {
    color: white;
    text-shadow: 1px 1px 2px yellow;
}
#myname {
    position: relative;
    top: 40px;

}